body {
  background:#f2f4f8;
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box {
  background:white;
  padding:20px;
  width:320px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input, select, button {
  width:100%;
  padding:10px;
  margin-top:10px;
}

button {
  background:#0066ff;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover {
  background:#004ecc;
}
